{% embed 'partials/base.html.twig' %}

  {% set collection = page.collection() %}



  {% block content %}

  <div class="blue-gradient-bg">
    <div class="container section-pad">
      <h1>Kelley's Blog</h1>
    </div>
  </div>

  <div class="container section-pad">
    
    {% for child in collection.sort(date, desc) | slice(0, 1) %}
    <div class="featured-blog-post">
        <div class="row">
          <div class="featured-blog-post-wrapper">
          <div class="three columns">
            <a class="blog-post-link" href="{{ child.url }}">
                <div class="blog-post-letters-circle large">
                  <div class="blog-post-letters large">{{ child.title | slice(0, 1) }}</div>
                </div>
            </a>
          </div>
            <div class="five columns">
              <h2 class="blog-post-snippet-heading"><a href="{{ child.url }}">{{ child.title }}</a></h2>
              <p>{{ child.content | truncate(110) }} <a href="{{ child.url }}">Read more &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    
    <div class="row">
      {% for child in collection.sort(date, desc) | slice(1) %}
      <div class="six columns blog-post-snippet">
        <div class="blog-post-wrapper">
          <div class="four columns">
                <a class="blog-post-link" href="{{ child.url }}">
                    <div class="blog-post-letters-circle">
                        <div class="blog-post-letters">{{ child.title | slice(0, 1) }}</div>
                    </div>
                </a>
          </div>
          <div class="eight columns snippet-pad">
            <h5 class="blog-post-snippet-heading"><a href="{{ child.url }}">{{ child.title }}</a></h5>
            <p class="blog-post-snippet-content">{{ child.content | truncate(90) }} <a href="{{ child.url }}">Read more &raquo;</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    
    
    
  </div>

	{% endblock %}

{% endembed %}


