{% embed 'partials/base.html.twig' %}

    {% block content %}

        <section class="work-post-bg simple black-gradient-bg section-pad">
            <div class="container">
                <h1 class="work-post-heading">{{ page.header.title }}</h1>
                <div class="row simple-col-break">
                    <div class="five columns">
                        
                        {% if page.header.button == true %}
                        <a href="{{ page.media[page.header.pdf].url }}" target="_blank">
                        {% endif %}
                            
                        {% if page.header.outsidebutton == true %}
                        <a href="{{ page.header.outsidelink }}" target="_blank">
                        {% endif %}
                            
                            <div class="work-post-header-image-wrap simple">
                                <img class="work-post-header-image bottom" src="{{ page.media[page.header.bottomimage].url }}" alt="Work image preview." />
                            </div>
                        </a>
                    </div>
                    <div class="seven columns work-post-content">
                        {{ page.content }}
                        {% if page.header.button == true %}
                        <a href="{{ page.media[page.header.pdf].url }}" target="_blank"><button type="button">{{ page.header.buttontext }}</button></a>
                        {% else %}
                        
                        {% endif %}
                        
                        {% if page.header.outsidebutton == true %}
                        <a href="{{ page.header.outsidelink }}" target="_blank"><button type="button">{{ page.header.outsidebuttontext }}</button></a>
                        {% else %}
                        
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <section class="middle-zoom" style="background-image: url({{ page.media[page.header.footerimage].url }})"></section>

    {% endblock %}

{% endembed %}
