<div class="">

    {% set header_image = page.header.header_image|defined(true) %}
    {% set header_image_width  = page.header.header_image_width|defined(900) %}
    {% set header_image_height = page.header.header_image_height|defined(300) %}
    {% set header_image_file = page.header.header_image_file %}

    <section class="blog-post black-gradient-bg section-pad">
        <div class="container">
            {% if page.header.link %}
                <h1 class="subtitle">
                    {% if page.header.continue_link is not sameas(false) %}
                    <a href="{{ page.url }}"><i class="fa fa-angle-double-right"></i></a>
                    {% endif %}
                    <a href="{{ page.header.link }}">{{ page.title }}</a>
                </h1>
            {% else %}
                <h1 class="subtitle"><a href="{{ page.url }}">{{ page.title }}</a></h1>
            {% endif %}
            <div class="row">
                <div class="six columns">
                    <span class="post-date">
                        <span>Posted {{ page.date|date("F d, Y") }}</span>
                    </span>
                </div>
                <div class="six columns">
                    {% if page.taxonomy.tag %}
                    <span>
                        <span class="tag-heading">Tags:</span>
                        {% for tag in page.taxonomy.tag %}
                        <a class="tag-item" href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>
            </div>

            {% if header_image %}
                {% if header_image_file %}
                    {% set header_image_media = page.media.images[header_image_file] %}
                {% else %}
                    {% set header_image_media = page.media.images|first %}
                {% endif %}
                {{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
            {% endif %}
        </div>
    </section>

    <div class="section-pad cream-bg">
        <div class="container">
    {% if page.header.continue_link is sameas(false) %}
        {{ page.content }}
        {% if not truncate %}
        {% set show_prev_next = true %}
        {% endif %}
    {% elseif truncate and page.summary != page.content %}
        {{ page.summary }}
        <p><a href="{{ page.url }}">Continue Reading...</a></p>
    {% elseif truncate %}
        {% if page.summary != page.content %}
            {{ page.content|truncate(550) }}
        {% else %}
            {{ page.content }}
        {% endif %}
        <p><a href="{{ page.url }}">Continue Reading...</a></p>
    {% else %}
        {{ page.content }}
        {% set show_prev_next = true %}
    {% endif %}
        </div>
        
    {% if show_prev_next %}
        <section class="post-carousel cream-gradient-bg section-pad prev-next">
            <div class=" row container">
                <div class="six columns">
                 <div class="post-nav">Previous post</div>
                    <div class="post-carousel-item">
                        <div class="row">
                            <div class="three columns">
                                
                                {% if not page.isFirst %}
                               <a href="{{ page.nextSibling.url }}"><div class="post-circle"></div></a>
                                {% endif %}
                                
                            </div>
                            <div class="nine columns">
                                {% if not page.isFirst %}
                                <h6 class="post-carousel-heading">{{ page.nextSibling.title }}</h6>
                                <div class="post-carousel-date">Posted {{ page.nextSibling.date|date("F d, Y") }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="six columns right">
                    <div class="post-nav">Next post</div>
                    <div class="post-carousel-item">
                        <div class="row">
                            <div class="nine columns">
                                
                                 {% if not page.isLast %}
                                <h6 class="post-carousel-heading">{{ page.prevSibling.title }}</h6>
                                <div class="post-carousel-date">Posted {{ page.prevSibling.date|date("F d, Y") }}</div>
                                {% endif %}
                                
                            </div>
                             <div class="three columns">
                                 
                                 {% if not page.isLast %}
                                <a href="{{ page.prevSibling.url }}"><div class="post-circle u-pull-right"></div></a>
                                 {% endif %}
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
        
    </div>
</div>
