<div class="footer-bg footer-section-pad">
            <div class="container">
                <div class="row">
                    <footer>
                        <div class="four columns">
                            <a href="{{ base_url == '' ? '/' : base_url }}"><img class="footer-logo" src="{{ url("theme://images/footer-logo.png") }}" alt="Kelley, ink footer logo" /></a>
                            <h6 class="footer-head">Communicating since 1974.</h6>
                            <p class="footer-text knockout-darker">No, really, I was an early talker.</p>
                        </div>
                        <div class="four columns">
                            <h6 class="footer-head">NAVIGATE</h6>
                            
                            {% if page.header.home == true %}
                                <ul class="footer-nav-list">
                                    <div class="six columns">
                                        <li class="footer-nav-item"><a class="footer-nav-link" href="{{ base_url == '' ? '/' : base_url }}">Home</a></li>
                                        <li class="footer-nav-item"><a class="footer-nav-link" href="#about">About</a></li>
                                        <li class="footer-nav-item"><a class="footer-nav-link" href="#services">Services</a></li>
                                    </div>
                                    <div class="six columns">
                                        <li class="footer-nav-item"><a class="footer-nav-link" href="#contact">Contact</a></li>
                                        <li class="footer-nav-item"><a class="footer-nav-link" href="{{ base_url == '' ? '/' : base_url }}/blog/">Blog</a></li>
                                    </div>
                                </ul>
                            
                            {% else %}
                            
                                <ul class="footer-nav-list">
                                    <div class="six columns">
                                        <li class="footer-nav-item"><a class="footer-nav-link" href="{{ base_url == '' ? '/' : base_url }}">Home</a></li>
                                        <li class="footer-nav-item"><a class="footer-nav-link" href="{{ base_url == '' ? '/' : base_url }}#about">About</a></li>
                                        <li class="footer-nav-item"><a class="footer-nav-link" href="{{ base_url == '' ? '/' : base_url }}#services">Services</a></li>
                                    </div>
                                    <div class="six columns">
                                        <li class="footer-nav-item"><a class="footer-nav-link" href="{{ base_url == '' ? '/' : base_url }}#contact">Contact</a></li>
                                        <li class="footer-nav-item"><a class="footer-nav-link" href="{{ base_url == '' ? '/' : base_url }}/blog/">Blog</a></li>
                                    </div>
                                </ul>
                            {% endif %}
                            
                        </div>
                        <div class="four columns">Four
                            <h4 class="knockout-darker">Currently <span class="knockout project-avail">open</span> for new projects.</h4>
                            <a href="{{ base_url == '' ? '/' : base_url }}#contact"><button class="button">Contact Kelley!</button></a>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
<section class="copyright-bg">
            <div class="container">
                <div class="row">
                    <p class="copyright-text">&copy; 2016, Kelley, Ink, LLC. Made with love by <a href="http://www.kylebaconcreative.com/" target="_blank">Kyle Bacon</a>.</p>
                </div>
            </div>
        </section>