{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}


{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
        <li class="nav-item {{ current_page }}">
            <a class="nav-link" href="{{ p.url }}">
                {{ p.menu }}
            </a>
            {% if p.children.visible.count > 0 %}
                <ul>
                    {{ _self.loop(p) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<ul class="navigation nav-list u-pull-right">
    {% if theme_config.dropdown.enabled %}
        {{ _self.loop(pages) }}
    {% else %}
        {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
            <li class="nav-item {{ current_page }}">
                <a class="nav-link" href="{{ page.url }}">
                    {{ page.menu }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
    
    {% for module in page.collection() %}
        {% if not show_onpage_menu %}
            {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
            {% if module.header.hidemenu == true %}
            <li class="nav-item {{ current_module }}">
                        <a class="nav-link" href="#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a>
            </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    
    {% for mitem in site.menu %}
        <li class="nav-item">
            <a class="nav-link" href="{{ mitem.url }}">
                {{ mitem.text }}
            </a>
        </li>
    {% endfor %}
    
    {% if config.plugins.login.enabled and grav.user.username %}
        <li>{% include 'partials/login-status.html.twig' %}</li>
    {% endif %}
</ul>


